# Ignore everything
**

# Allow files and directories
!/server.app/**
!/server.dao/**
!/server.domain/**
!/server.json/**
!/server.services/**
!/pom.xml
!/application.yml
!/run.sh

# Ignore unnecessary files inside allowed directories
# This should go after the allowed directories
**/*~
**/*.log
**/.DS_Store
**/Thumbs.db